body
  font-weight 500
  color #4A4A4A
a
  color #4A4A4A
  text-decoration none
thead tr:first-child th
  font-weight 600
.color-primary
  color $primary
#context-menu
  box-shadow none
.w-75em
  width 75em
#context-menu:hover tr
  background grey
