body
  font-weight 500
  color #4A4A4A
  background url("/statics/maket.jpg") top center no-repeat
a
  color #4A4A4A
  text-decoration none
thead tr:first-child th
  font-weight 600
#context-menu
  box-shadow none
.w-75em
  width 75em
#context-menu:hover tr
  background grey

.wrapper
  width: 1280px
  margin: 0 auto
  overflow hidden
  padding 0 20px
  &--header
    padding: 0

@media (min-width $breakpoint-lg-min)
  .q-header, .q-footer
    .q-tab__content
      min-width auto
