// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary    = #ffffff
$secondary  = #f5f5f5
$accent     = #79adb6

$text-black = #4b4b4b
$text-gray  = #9b9b9b
$positive   = #21BA45
$negative   = #C10015
$info       = #31CCEC
$warning    = #F2C037
